@model CharacterCreator.Models.Image

    <div class="form-group">
        <input name="file" class="UploadImageInput" type="file" />
        <img class="UploadImageHidden UploadImagePreview" />
        <input name="imageName" id="imageName" placeholder="Name" class="UploadImageHidden" />
    </div>