body {
    padding-top: 50px;
    padding-bottom: 20px;
    height: 100vh;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    height: 100%;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

.character-expand-freely, character-profile-image-container > img {
    max-height: 100%;
    max-width: 100%;
}
.character-gallery-icon-container {
    white-space: nowrap;
    overflow-x: scroll;
}
.character-gallery-icon-container > img {
    max-height: 12%;
    max-width: 12%;
    box-sizing: border-box;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.character-gallery-center-image-container {
    max-height: 60vh;
    height: 60vh;
}

/*Hide jquery tabs until ready*/
.character-tabs { display: none; }
.character-tabs.ui-tabs { display: block; }

.character-table-buttons > * {
    display: inline-block;
}

.character-table-active-row {
    display: none;
}