@model CharacterCreator.Models.Character
    <div id="BottomRightContent" class="row jqTabs">
        <ul>
            <li>
                <a href="#details">
                    Details
                </a>
            </li>
            <li>
                <a href="#gallery">
                    gallery
                </a>
            </li>
            <li>
                <a href="#inventory">
                    Inventory
                </a>
            </li>
        </ul>
        <div id="details">
            details
        </div>
        <div id="gallery">
            gallery
        </div>
        <div id="inventory">
            inventory
        </div>
    </div>