@model CharacterCreator.Models.Character
    <div id="BottomRightContent" class="row jqTabs">
        <ul>
            <li>
                <a href="#details">
                    Details
                </a>
            </li>
            <li>
                <a href="#gallery">
                    gallery
                </a>
            </li>
            <li>
                <a href="#inventory">
                    Inventory
                </a>
            </li>
        </ul>
        <div id="details">
            details
        </div>
        <div id="gallery">
            @{ await Html.RenderPartialAsync(partialViewName: "~/Views/Home/_GalleryContents.cshtml", model: Model.Gallery);}
        </div>
        <div id="inventory">
            @{ await Html.RenderPartialAsync(partialViewName: "~/Views/Home/_InventoryContents.cshtml", model: Model.Inventory);}
        </div>
    </div>