@model CharacterCreator.Models.Character

<h3>@Model.Name</h3>
<div class="row">
    <div class="col-xs-6">
        @Model.Race
    </div>
    <div class="col-xs-6">
        @Model.Gender
    </div>
</div>
<p>@Model.Summary</p>