@model CharacterCreator.Models.Character

<form hidden id="SaveUIForm" asp-controller="Home" asp-action="SaveUI" asp-all-route-data='new Dictionary<string, string>() { { "id", Model.Id.ToString() } }' method="post">
    <input name="css" id="css" />
    <input name="applyToAll" id="applyToAll" value="true" />
</form>