@model Guid
<form asp-controller="Home" asp-action="UploadGalleryImage" asp-all-route-data='new Dictionary<string, string>() { { "id", @Model.ToString() } }' method="post" enctype="multipart/form-data">
    <div class="form-group">
        <input name="file" id="UploadImageInput" type="file" />
    </div>
    <input type="hidden" name="imageName" id="imageName" />
</form>