@model CharacterCreator.Models.Character
@{
    ViewData["Title"] = "Home Page";
}

<div id="TopPanel" class="row">
    <div id="TopLeftPanel" class="jQResizable col-md-3">

    </div>
    <div id="TopRightPanel" class="jQResizable col-md-9">
        @{ await Html.RenderPartialAsync(partialViewName: "~/Views/Home/_CharacterDetails.cshtml", model: Model);}
    </div>
</div>
<div id="BottomPanel" class="row">
    <div id="BottomLeftPanel" class="jQResizable col-md-3">
        @{await Html.RenderPartialAsync(partialViewName: "~/Views/Home/_CharacterTable.cshtml", model: ViewBag.CharacterTableModel as IEnumerable<CharacterCreator.Models.Character>);}
    </div>
    <div id="BottomRightPanel" class="jQResizable col-md-9">
        @{ await Html.RenderPartialAsync(partialViewName: "~/Views/Home/_CharacterContents.cshtml", model: Model);}
    </div>
</div>